schemeG1/schemeG1/data/
*.pdb
*.vcproj
*.user
*.exe
*.ilk
*.lay
*.manifest
*.plt
schemeG1/schemeG1/results/
*.ncb
*.htm
*.sln
*.idb
schemeG1/preproc/data/
*.ini
*.dat
*.dep
schemeG1/G1_ob_sl/
*.suo
*.obj
preproc/data/
*.png
*.lpk
schemeG1/.dropbox
